Source: llvm
Version: 7.0.0
Description: The LLVM Compiler Infrastructure
Build-Depends: atlmfc (windows)

Feature: amdgpu
Description: build the AMDGPU back-end

Feature: arm
Description: build the ARM back-end

Feature: nvptx
Description: build the NVPTX back-end
